<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile" fileName="C:/tmp/logs/monlog.log"
             filePattern="C:/tmp/logs/monlog-%d{MM-dd-yyyy}.log">
		    <PatternLayout>
		        <pattern>%d [%t] %-5p %c - %m%n</pattern>
		    </PatternLayout>
		</RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger configuration -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>